@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

$serif: "EB Garamond";

:root {
  --deckgo-highlight-code-font-size: 12pt;
  --deckgo-highlight-code-carbon-header-padding: 10px;
}

.pageContainer {
  min-width: 800px;
  max-width: 800px;
  margin: auto;

  * {
    font-family: $serif, serif;
  }

  p, details, li {
    font-size: 14pt;
  }

  table {
    font-size: 14pt;
    border-collapse: collapse;
    width: 100%;
  }

  table, td, th {
    border: 1px solid lightgray;
    padding: 5px;
  }

}